body{
    font-size: 1.6rem;
    margin: 0;
    padding: 0;
    background-color: var(--background-color);
}
.header__title{
    text-align: center;
}
.header__nav{
    background-color:gray;
    border:1px solid var(--black-color);
    z-index: 1;
}
.sticky{
    position: fixed;
    top: 0;
    width: 100%;
}
.header__nav-list{
    margin: 0;
    padding: 0;
    list-style-type: none;
    width: 100%;
}
.header__nav-list::after{
    content: "";
    clear:both;
    display: table;
}
.header__nav-list li{
    float: left;
    display: block;
    border-right:1px solid var(--black-color);
}
.header__nav-list li:nth-last-child(1){
    float: right;
    display: block;
    border-left:1px solid var(--black-color);
    border-right: none;
}
.header__nav-list a{
    display: block;
    padding: 17px 20px;
    text-decoration: none;
    color: var(--white-color)
}
.active{
    background-color: red;
}
.header__nav-list li a:hover:not(.active){
    background-color: green;
    color: var(--black-color);
}
.dropdown{
    position: relative;
    
}
.dropdown .dropdown-content{
    display: none;
    position: absolute;
    background-color: gray;
    border: 0.1rem solid black;
    box-shadow: 5px 4px 3px black;
}
.dropdown .dropdown-btn{
    display:inline-block;
    padding: 1.7rem 2rem;
}
.dropdown:hover .dropdown-content{
    display: block;
}
.container{
    width: 100%;
    padding: 1rem 3rem;
}

.container .container__column-left{
   grid-column: 1/span 8;
   grid-row: 1/span 2;
}
.container .container__column-right{
    grid-column: 9/span 4;
    grid-row: 1/span 2;
}
.container .grid__row{
   grid-row: 3/4;
   grid-column: 1/13;
}
.card{
    background-color: var(--white-color);
    margin-bottom: 3rem;
    box-shadow: 0.5rem 0.5rem 0.5rem rgb(182, 181, 181),-0.5rem -0.5rem 0.5rem rgb(182, 181, 181);
}
.car--balance{
    height: calc(33,33% - 28px);
}
.card__img{
    width: 100%;
    height: 35rem;
}
.card__profile-picture{
    border-radius: 50%;
}
.card .card__text{
    padding:0 1.6rem 1.2rem 1.6rem;
}
.hl-ul-customize li{
    padding: 0.3rem;
    border-bottom: 0.1rem solid var(--black-color);
}
.hl-ul-customize li:hover{
    background-color: aqua;
}
.hl-ul-customize--flex {
    padding: 0.2rem;
    margin: 0.3rem;
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;    
}
.hl-ul-customize--flex li{
    margin-right: 0.3rem;
    margin-top: 0.2rem;
    border: 0.1rem solid var(--black-color);
    background-color: green;
    color: white;
}
.hl-ul-customize--flex li:hover{
    background-color: red;
    cursor: pointer;
}
.grid__gallery{
    display: grid;
    grid-template-rows: repeat(3,1fr);
    grid-template-columns: repeat(3,1fr);    
    gap: 0.2rem;
    justify-items: center;
    padding: 0.5rem;
}
.grid__gallery__img{
    width: 100%;
    height: 20vh;
    border: 0.1rem solid #000000;
    transition: transform 1s ease ;
}
.grid__gallery .grid__gallery__img:hover{
    cursor: pointer;
    box-shadow: 0 0 0.5rem 0.3rem #000000;
    position: relative;
    transform: scale(1.2,1.6);
    z-index: 1;
}
#modal{
    display: none;  
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 3vh 3vh 3vh 0 ;
    background-color: rgba(0, 0, 0, 0.9);
    z-index: 2 ;
}
.article{
    background-color: #fff8c9;
    width:100vw;
    height: 100vh;
    position: relative;
}
/* css display a huge picture */
#modal__content{
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    width: 30vw;
    height: auto;
    
}
#modal__close{
    position: absolute;
    top: 3vh;
    right: 0;
    font-size: 10rem;
    line-height: 0;
    color: red;
    cursor: pointer;
}
#modal__caption{
    z-index: 1;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%);
    color:white;
}
/* slideshow css */
.article{
    width: 100%;
    padding: 5rem 9rem;
}
.slideshow_container{
    position: relative;
    width: 100%;
    height: 100%;
}
.slideshow_container__item{
    width: 100%;
    height: 100%;
    display: none;
}

.btn-left{
    position:absolute;
    top: 50%;
    left: 0;
    width: 50px;
    height: 50px;
    color: gray;
    border: none;
}
.btn-right{
    position:absolute;
    top: 50%;
    right: 0rem;
    width: 50px;
    height: 50px;
    color: gray;
    border: none;
}
/* slideshow css */
.footer__container{
    background-color: bisque;
    width: 100%;
    padding:5rem 3rem;
    
}
.container__item{
    width: calc(33% - 100px);
    padding-left: 10rem;
}
.footer__container--flex-row{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.container__item + .container__item{
    border-left: 2px dashed red;
}
.container__item ul {
    list-style-type: none;
}
footer ul a{
    text-decoration: none;
}
footer ul a:hover{
    color: red;
    text-decoration: underline;
}
