:root{
    --white-color:rgb(255, 255, 255);
    --black-color: #000000;
    --pale-black-color:#333;
    --background-color:#f1f1f1;
    --primary-color: green;
    --0-palette: #6E3CBC;
    --1-palette: #7267CB;
    --2-palette: #98BAE7;
    --3-palette: #B8E4F0;

    --cursor-default: url('../icons/cursors/default_cursor.svg'), default;
    --cursor-pointer: url('../icons/cursors/hand_cursor.svg'), pointer;
    --cursor-link: url('../icons/cursors/link_cursor.svg'), pointer;
    font-family: Inter, sans-serif;
    font-feature-settings: 'liga' 1, 'calt' 1; /* fix for Chrome */

}
*{
    box-sizing: inherit;
    margin: 0;
    padding: 0;
    
}
html{
    box-sizing:border-box;
    font-size: 62.5%;
    font-family: 'Roboto', sans-serif;
}

body{
    cursor: url('../icons/cursors/default_cursor.svg'), default;
}

a{
    text-decoration: none;
    color: inherit;
}

a[target="_blank"]{
    cursor: var(--cursor-link);
}

a, button{
   cursor: var(--cursor-pointer);
}

p{
    line-height: 1.6rem;
}

.cursor-default{
    cursor: var(--cursor-default);
}
.cursor-pointer{
    cursor: var(--cursor-pointer);
}

.flex-column{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.flex-row{
    display: flex;
    justify-content: flex-start;
}
.flex--center{
    display: flex;
    justify-content: center;
}
.hl-button{
    border-radius: 3px;
    outline: none;
    padding: 5px;
    background-color: white;
    border: 1px solid black;
    box-shadow: 2px 2px 3px black;
}

.hl-button:hover{
    cursor: var(--cursor-pointer);
}
.hl-ul-customize{
    margin: 0.7rem;
    padding: 0;
    list-style-type: none;
}

/* Utility Classes */
.hl-margin-right{
    margin-right: 1rem;
}
.hl-margin-left-sm{
    margin-left: 0.5rem;
}
.hl-margin-left-md{
    margin-left: 1rem;
}
.hl-margin-top{
    margin-top: 1rem;
}
.hl-margin-top-md{
    margin-top: 2rem;
}
.hl-margin-bottom{
    margin-bottom: 1rem;
}
.hl-margin-bottom-md{
    margin-bottom: 2rem;
}
.hl-center-text{
    text-align: center;
}
.hl-full-height{
    max-height: 100%;
}
.hl-center-bottom{
    position: absolute;
    bottom: 0;
    left: 50%;
    margin-bottom: 2rem;
    transform: translate(-50%);
}
.h-100{
    height: 100%;
}
.w-100{
    width: 100%;
}
.center-items{
    display: flex;
    justify-content: center;
    align-items: center;
}
.hl-title--effect{
    font-family: 'Playfair Display',serif;
    text-align: center;
    font-weight: 700;
    font-style: italic;
    text-shadow: 0.3rem 0.5rem 0.2rem rgb(177, 143, 143);
    color: rgb(241, 67, 67);
}
.hl-background-transparent{
    background-color: transparent;
}
.hl-position-relative{
    position: relative;
}
.hl-important-text{
    color: crimson;
    background-color: rgba(222,222,222,0.3);
}
.hl-color-text{
    color: #333;
}

.responsive--image{
    width: 100%;
    height: auto;
    object-fit: contain;
    object-position: center;
}
.pill{
    border-radius: 50px;
    padding: 0.5rem 1rem;
    background-color: var(--primary-color);
    color: var(--white-color);
    font-size: 1rem;
    font-weight: 600;
    text-align: center;
    box-shadow: 2px 2px 3px black;
}

/* CSS */
.button{
    position: relative;
    text-align: center;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    cursor: var(--cursor-pointer);
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 100%;
}
.primary-button {
  background-color: var(--primary-color);
  border: 1px solid #111;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  color: var(--white-color);
  font-size: 16px;
  height: 3rem;
  line-height: 2.5rem;
  padding: 0 2rem;
}

.primary-button:hover {
  opacity: 0.8;
  transition: opacity 0.2s ease-in-out;
}

#modal{
    display: none;  
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.9);
    z-index: 2 ;
}

/* modal */
.modal-content-wrapper{
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
}
.modal__content img{
    width: 95%;
    height: 100%;
    object-fit: contain;
}

#modal__close{
    position: absolute;
    display: block;
    top: 20px;
    right: 20px;
    font-size: 5rem;
    line-height: 0;
    color: red;
    cursor: var(--cursor-pointer);
}

#modal__caption{
    z-index: 1;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%);
    color:white;
}


/* Tablet */
@media screen and (min-width: 740px) and (max-width: 1023px) {

   
}
/* Mobile and tablet */
@media screen and (max-width: 1023px) {
   .modal__content img{
        width: 100%;
        height: 100%;
        object-fit: contain;
    }
    #modal__close{  
        top: 5px;
        right: 5px;
    }
}


/* Animations */
@keyframes zoomOut {
    from {
        transform: scale(1);
        opacity: 1;
    }
    to {
        transform: scale(0.7);
        opacity: 0;
    }
}

@keyframes zoomIn {
    from {
        transform: scale(0.7);
        opacity: 0;
    }
    to {
        transform: scale(1);
        opacity: 1;
    }
}

@keyframes fadeIn {
    0%{
        opacity: 0;
        transform: scale(0);
    }
    50%{
        opacity: 0.5;
        transform: scale(0.5);
    }
    100%{
        opacity: 1;
        transform: scale(1);
    }
}

.animate-zoom-in {
    animation: zoomIn 0.4s ease forwards;
}
.animate-zoom-out {
    animation: zoomOut 0.4s ease forwards;
}