.ql-container{
    font-size: 1.6rem;
}
.ql-editor{
    font-size: 1.8rem;
    overflow-x: hidden;
}

.ql-code-block-container {
    padding-top: 25px !important;
}

.ql-font-roboto {
    font-family: 'Roboto', sans-serif;
}

.ql-font-inter {
    font-family: 'Inter', sans-serif;
}

.ql-font-lora {
    font-family: 'Lora', serif;
}

.ql-font-playfair-display {
    font-family: 'Playfair', sans-serif;
}


@media (max-width: 480px) {
    .ql-editor{
        padding: 0 !important;
        font-size: 1.6rem;
    }
    .ql-code-block{
        font-size: 1.3rem !important;
        line-height: 1.6;
    }
    .ql-code-block-container {
        position: relative;
        overflow-x: auto !important;
        white-space: pre;
        -webkit-overflow-scrolling: touch;
    }

    .ql-code-block-container .ql-ui{
        left: 5px !important;
        right: unset !important;
    }

    .ql-snow .ql-editor h1 {
        font-size: 2.2rem; 
    }
    .ql-snow .ql-editor h2 {
        font-size: 1.7rem; 
    }
    .ql-snow .ql-editor h3 {
        font-size: 1.3rem; 
    }
    .ql-snow .ql-editor h4 {
        font-size: 1.1rem; 
    }
    .ql-snow .ql-editor h5 {
        font-size: 1rem; 
    }

    .ql-editor ol, .ql-editor ul {
        margin: 1rem 0;
        padding-left: 1.3rem; 
        line-height: 1.6; 
    }
    
    .ql-editor li {
        padding-left: 1rem;
        margin-bottom: 0.5rem;
    }

}
